html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.gameTitle{
  color: white;
  font-size: 50px;
  font-famly:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: solid orange 10px;
}

.playButton{
  background-color: orange;
  color: white;
  width: 250px;
  height: 80px;

}